html {
  --color-bg-light-01: #F0F0F0;
  --color-bg-light-02: #E8E8E8;
  --color-bg-light-03: #E0E0E0;
  --color-bg-dark-01: #4D4D4D;
  --color-bg-dark-02: #333333;
  --color-bg-dark-03: #191919;

  --color-alert-error: #A70240;
  --color-alert-success: #3C8A2E;
  --color-alert-warning: #EC6500;

  --color-blue-aqua: #244A86;
  --color-blue-saphire: #4C6BB1;
  --color-blue-steel: #8DAAC8;
  --color-blue-artic: #C6DAF2;
  --color-blue-azure: #055ED2;
  --color-blue-sky: #6AB0E2;

  html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
	color: var(--color-bg-dark-02);

    h1, h2 {
      text-align: center;
    }

    h1 {
      //color: var(--color-blue-aqua);
    }

    .home-link {
      transition: color 450ms;
      text-decoration: none;
      color: var(--color-blue-azure);

      &:hover {
        color: var(--color-blue-aqua);
      }
    }

    h2 {
	  font-size: 1.25rem;
      color: var(--color-blue-steel);
    }

	main {
      padding: 3.5rem calc((100vw - 960px - 0.5rem) / 2);
    }

    .meta-info {
      font-size: .75rem;
      color: var(--color-blue-steel);
	  text-transform: uppercase;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-left: 0;
	  margin-top: 4rem;

      li {
		display: flex;
        align-items: center;
        justify-content: space-between;
		padding: 2rem;
        border-bottom: 1px solid var(--color-bg-light-03);

        &:first-child {
          border-top: 1px solid var(--color-bg-light-03);
        }

        a {
          height: 100%;

          :hover {
            background-color: var(--color-bg-light-01);
          }
        }
      }
    }

    .status {
      margin-left: .5rem;
	  color: var(--color-alert-warning);
    }

    .details {
      padding: 1rem 2rem;
      color: white;
      background-color: var(--color-blue-azure);
	  text-decoration: none;
      transition: background-color 450ms;
      height: auto;

      &:hover {
        background-color: var(--color-blue-aqua);
      }
    }

    header {
      .live-updates {
		margin-bottom: 3rem;
        padding: .5rem calc((100vw - 960px - 0.5rem) / 2);
        background-color: var(--color-bg-light-03);

        &-title {
          margin-top: 0;
          font-size: 1rem;
          color: var(--color-alert-error);
        }

        &-list {
          margin-top: 0;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          @media (min-width: 900px) {
            flex-direction: row;
          }

		  li {
            padding: 0;

            &:not(&:last-child) {
              border-right: 1px solid var(--color-bg-dark-02);
			  padding-right: 1rem;

              @media (max-width: 900px) {
                border-right: none;
			  }
            }
          }
        }

		span {
          margin-right: 1rem;
        }

        &-meta {
          margin-right: .25rem;
          color: white;
          padding: .15rem .5rem;
          background-color: var(--color-blue-azure);
        }
      }
    }

    .main-list {
      margin-top: 0;

      li {
        display: grid;
		grid-template-columns: 1fr 1fr auto;
		grid-template-rows: auto auto;
      }

      .machine-type {
        display: grid;
		text-transform: capitalize;

      }

      .machine-id {
        margin-top: .75rem;
		font-size: .85rem;

        .meta-info {
          margin-right: .5rem;
        }
      }

      .status {
        display: grid;
      }
    }

    .machine-details {
      h3 {
		span {
          background-color: var(--color-alert-success);
        }
      }
      span {
        padding: .15rem .5rem;
        margin-right: 1rem;
        background-color: var(--color-blue-azure);
        color: var(--color-bg-light-03)
      }
    }
  }
}
